// 界面颜色 莫兰迪色系
// $main-color: #bccbde;
$main-color: #1e2e38;
$light-blue: #c2dde6;
$light-pink: #e6e9f0;
$light-gray: #f1f1ef;
$gray-back: #e9e9eb;

// element信息提示颜色
$element-blue: #409eff;
$warn-color: #e6a23c;
$success-color: #67c23a;
$danger-color: #f56c6c;
$info-coloe: #909399;

// nestos主背景色
$main-back: #f5f6f8;

// 边框颜色
$darker-border: #858585;
$light-border: #e4e7ed;

// 文字颜色
$gray-text: #858585;

// 底部背景色
$foot-back: #121212;
$foot-border: #2c2c2c;

// openeuler color
$button-back: #002fa7;
